{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'css/style.css' %} ">
    <title>Document</title>
</head>
<body>
    <h1>Estoque</h1>
    <table id="tabela_produtos">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Codigo</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.id }} </td>
                <td>{{ produto.nome_produto }} </td>
                <td>{{ produto.codigo }} </td>
                <td>{{ produto.quantidade }} </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhum produto encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="form_localizar">
        <label for="">Localizar: </label>
        <input type="text" id="id_localizar">
        <button type="submit" id="botao_localizar">...</button>
        <a href="/">Voltar</a>
    </div>

    <script src="{% static 'js/scripts2.js' %}"></script>
</body>
</html>