{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'css/style.css' %} ">
    
    <title>Document</title>
</head>
<body>
    <div id="box_geral">
        
        <div id="box_menu" >
            <h1>Recebimento</h1> 
            <form class="form_recebimento" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                
                <div class="botoes_form">
                    <button id="botao_salvar" type="button">Salvar</button>
                    <a class="botao_link" href="/">Voltar</a>
                    
                </div>
                
                    
                    
                
            </form>
        </div>
        
    </div>
    <script src="{% static 'js/scripts2.js' %}"></script>
</body>
</html>